body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 200px;
    margin-left: 550px;
    /*background-color:black;*/
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    font-weight: bolder;
  }
  
  .square {
    background: #fff;
    border: 5px solid rgb(243, 31, 31);
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 15px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 40px;
    text-align: center;
    width: 50px;
    justify-content: center;
    align-items: center;  
    display: flex;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  